@import '../../index';


.Player  {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  position: relative;
  align-items: center;

  .PlayerName {
    h2 {
      cursor: pointer;
      padding-left: .4em;
      font-size: .75em;
      margin-left: .25em;
    }
  }

  .RemoveButton {
    position: absolute;
    left: 0;
    width: .4em;
    height: .4em;
    cursor: pointer;
  }

  .HideButton {
    display: none;
  }
}
