.player-container  {
  display: flex;
  justify-content: space-between;
  padding: .5em;
  width: 100%;
  height: auto;
  position: relative;
}

.remove-button {
  position: absolute;
  left: 0;
  width: .5em;
  height: .5em;
  cursor: pointer;
}

.player-name h2 {
  cursor: pointer;

}
