@import '../../index';

.Counter {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: flex-end;

  .CounterSecondary {
    min-width: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    Button {
      background: none;
      border: none;
      font-size: 1.15em;
    }

    Button:focus {
      background: none;
      border: none;
    }
  }

}
