@import '../../index';

.Stopwatch {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: .5em;

  .StopwatchInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    height: auto;
    background: #101010;
    border: 3px solid white;

    span {
      font-size: 2em;
      color: red;
      font-family: "Score Board";
    }
  }

  .StopwatchButtons {
    display: flex;
    justify-content: space-evenly;
    width: 160px;
    margin-top: .25em;

    Button {
      background: blue;
      width: auto;
      color: white;
      font-size: .5em;
      border: none;
      letter-spacing: 1px;
      text-transform: uppercase;

    }

    Button:hover {
      background: black;
      color: white;
      transition: .5s;
      border: 2px solid blue;
    }

    Button:focus {
      border: 2px solid blue;
      background: black;
      color: white;
    }
  }
}
