@import '../../index';

.Players {
  max-width: 800px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;


  h1 {
    font-size: $primary-size;
    font-family: $primary-font;
    font-weight: bolder;
    position: absolute;
    z-index: 10;
    top: -30px;
  }

  .PlayersPanel {
    width: 100%;

    .Main {
      display: flex;
      justify-content: center;
    }

    .MainSecondary {
      display: flex;
      justify-content: space-between;
      padding-top: 2em;

      .MainStats {
        display: flex;
      }

      .MainStopwatch {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.75em;
        font-family: $secondary-font;
      }
    }

    .PlayerProfile {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-family: $secondary-font;
      font-size: 2em;
      color: #333;

      .PlayerSingle {
        width: 100%;
        height: auto;
      }
    }
  }
}


.panel-default > .panel-heading {
  color: #333;
  display: flex;
  flex-direction: column;
  width: 100%;

}
