@import '../../index';

.Players {
  max-width: 800px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;


  h1 {
    font-size: 3em;
    font-family: $primary-font;
    font-weight: bolder;
    position: absolute;
    z-index: 10;
    top: -25px;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: -2px;
  }

  .PlayersPanel {
    width: 100%;

    .Main {
      display: flex;
      justify-content: center;
    }

    .MainSecondary {
      display: flex;
      justify-content: space-between;
      padding-top: 2em;

      .MainStats {
        display: flex;
      }

      .MainStopwatch {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.75em;
        font-family: $secondary-font;
      }
    }

    .PlayerProfile {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-family: $secondary-font;
      font-size: 2em;
      color: #333;

      .PlayerSingle {
        width: 100%;
        height: auto;
      }
    }
  }
}


.panel-default > .panel-heading {
  color: #efefef;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #101010;
}

@media screen and (min-width: 990px) {
  .Players {
    h1 {
      font-size: 5em;
      top: -45px;
    }
  }
}
