.players-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.main-container h1 {
  font-size: 3em;
  font-family: 'Invasion 2028';
}

.mainstopwatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.75em;
  font-family: 'Passion One', cursive;
  text-transform: uppercase;
}

.panel-container {
  width: 65%;
}

.main-container {
  display: flex;
  justify-content: center;
}

.panel-default > .panel-heading {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainsecondary-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.player-profile {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.player {
  width: 100%;
  height: auto;
}

.counter {
  height: auto;
}

.player-profile {
  font-family: 'Passion One', cursive;
  text-transform: uppercase;
  font-size: 2em;
  color: #333;
}

.mainstats-container {
  display: flex;
}

@media screen and (max-width: 620px) {
  .panel-container {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {

  .main-container h1 {
    font-size: 2em;
    font-family: 'Invasion 2028';
  }
}

@media screen and (max-width: 990px) {
  .query-column {
    width: 100%;
    margin-top: 1em;
  }

  .stats-container {
    text-align: center;
  }
}
