.players-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.panel-container {
  width: 70%;
}

.panel-default > .panel-heading {
  background: #FF2647;
  color: white;
  font-family: campjustice;
  display: flex;
  justify-content: space-between;
}

.player-profile {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.player {
  width: 60%;
  height: auto;
}

.counter {
  height: auto;
}
