@import '../../index';

.AddPlayer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: .25em;

  .AddPlayerForm {
    width: 100%;
    height: auto;

    .FormInput {
      width: 100%;
    }
  }

  .AddIcon {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;

    img {
      width: 1.75em;
      height: 1.75em;
      cursor: pointer;
    }
  }
}
