@import 'Reset';

$primary-color: black;
$secondary-color: orange;
$primary-font: 'Pixel Point';
$secondary-font: 'Passion One', cursive;
$primary-size: 4em;
$secondary-size: 1.75em;



h1, h2, h3 {
  text-transform: uppercase;
}
